.message-received {
  background: lightgray;
  height: 25px;
  width: fit-content;
  min-width: 170px;
  text-align: left;
  border-radius: 15px;
  border-top-left-radius: 0px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.message-sent {
  background: lightblue;
  height: 25px;
  width: fit-content;
  min-width: 170px;
  text-align: left;
  border-radius: 15px;
  border-top-right-radius: 0px;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
}
