.background-popup {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

.popup {
  position: relative;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.popup-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
}

.close-button {
  position: relative;
  top: -29px;
  left: 135px;
  right: 16px;
  color: black;
  cursor: pointer;
  font-size: 23px;
}
.popup-title {
  font-size: 30px;
  color: black;
}
