.conversation {
  height: calc(100vh - 245px);
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 8px;
}

.message-bubble-margins {
  margin: 0px 10px 10px 10px;
}

.message-bubble-align-function {
  width: fit-content;
}

.date-time-styling {
  font-size: 9px;
  margin: 5px 15px 5px 20px;
}
