.bottom-row {
  margin-top: 10px;
}

.top-bar {
  display: flex;
}

.message-input {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  line-height: 36px;
}

textarea {
  height: 120px;
}

.send-message {
  margin-top: 10px;
  height: 30px;
  text-align: center;
}
