@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  display: flex;
  flex-direction: row;
}

.avatar > img {
  margin: 15px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}

.user-and-text {
  text-align: left;
  margin-left: auto;
  display: flex;
}

.name-and-message > h4 {
  margin-top: 16px;
  margin-bottom: 0;
}

/* a {
  color: unset !important;
} */
